.aboutParallax {
    /* The image used */
    background-image: url("../img/parallex/roloandmarley.jpg");
    /* Set a specific height */
    height: 100%;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: right;}

.aboutus_parallax_1 {
    /* The image used */
    background-image: url("../img/parallex/smalldogs.jpg");
    /* Full height */
    height: 100%;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.aboutus_parallax_2 {
    /* The image used */
    background-image: url("../img/parallex/maiseygreatdane2.jpg");
    /* Full height */
    height: 100%;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.aboutus_parallax_4 {
    /* The image used */
    background-image: url("../img/maisey2.jpg");
    /* Full height */
    height: 100%;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.aboutbg {
    /* The image used */
    background-image: url("../img/marley/marley7.jpg");
    /* Full height */
    height: 100%;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; }

.meet-team-description {
    font-weight: bold;
}

.story-icon img{
    width:80px;
}

.location-icon{
    margin-bottom: 10px;
}

p.story{
    margin-top: 20px;
    margin-left: 10px;
    float: left;
}

.team-column-padding{
    padding-bottom: 12px;
}

.page_title{
    font-family:'LoughyDogs', sans-serif;
    color:white;
    font-size:7em;
    float:right;
    position:absolute;
    display:inline-block;
    bottom:0;
    right:3%;
}

@media only screen and (max-width: 768px) {

    .page_title{
        font-size:5em;
    }

    .aboutParallax {
        background-attachment: scroll;
        background-size: 200% 100%;
    }


    .aboutus_parallax_1 {
        background-attachment: scroll;
        background-size: 150% 100%;
    }

    .aboutus_parallax_2 {
        background-attachment: scroll;
        background-size: 150% 100%;
        background-position: 10%;
    }


    .aboutus_parallax_4 {
        background-attachment: scroll;
        background-size: 150% 100%;
    }
}