@import url(https://fonts.googleapis.com/css?family=Lato);
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css);

@font-face {
    font-family: 'LoughyDogs'; /*a name to be used later*/
    src: url(../fonts/loughydogs.ttf); /*URL to font*/
}

body, html {
    height: 100%;
    background-image: url("../img/sitebg.png");
    font-family: 'Lato', serif;
    padding:0px;
    }

.nopadding {
    padding: 0 !important;
    margin: 0 !important;
}

.navbar {
    margin-bottom: 0;
    background-color: #FFFFFF;
    z-index: 9999;
    border: 0;
    font-size: 12px !important;
    letter-spacing: 4px;
    border-radius: 0; }

.navbar-nav li {
    height: 100%; }

/*.ul-center ul{
    margin: 10px;
}*/
.navbar li a, .navbar .navbar-brand {
    color: #22A7F0 !important;
    line-height: 3 !important;
    /*background-color: #22A7F0 !important;*/ }

.navbar-nav li a:hover, .navbar-nav li.active a {
    color: #FFFFFF !important;
    transition: background-color 0.5s ease-in-out;
    background-color: #22A7F0 !important;
    height: 70px; }

.navbar-default .navbar-toggle {
    border-color: transparent;
    color: #fff !important; }


.myNavbar{
    max-height: unset;
    overflow-y: unset;
}

.blue {
    color: #22A7F0; }

.grey {
    color:rgba(119, 119, 119, 1);
}

.white {
    color:white;
}

#logoImg {
    padding: 0px;
    width: 140px;
    height: 70px; }

.bluefont {
    color: #22A7F0; }

.hidden {
    display: none; }

.indexbg {
    /* The image used */
    background-image: url("../img/shelby.jpg");
    /* Full height */
    height: 100%;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; }

.aboutbg {
    /* The image used */
    background-image: url("../img/marley/marley7.jpg");
    /* Full height */
    height: 100%;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; }

.jumbotron {
    background-color: #22A7F0;
    color: white;
    padding: 100px 25px; }

.container-fluid {
     padding: 60px 50px;
 }

.container-fluid-gallery{
    padding-top: -5px;
    padding-right: 50px;
    padding-bottom: 60px;
    padding-left: 50px;
}

.logo-small {
    color: #22A7F0;
    font-size: 50px; }

.logo {
    color: #22A7F0;
    font-size: 200px; }

.img-grid img{
    height:400px;
    width:300px;
}

@media screen and (max-width: 768px) {
    .col-sm-4 {
        text-align: center;
        margin: 25px 0; } }
.bg-grey {
    background-color: #f6f6f6; }

.bg-blue{
    background-color: #22A7F0;
}

.carousel-control.right, .carousel-control.left {
    background-image: none;
    color: #22A7F0; }

.carousel-indicators li {
    border-color: #22A7F0; }

.carousel-indicators li.active {
    background-color: #22A7F0; }

.item h4 {
    font-size: 19px;
    line-height: 1.375em;
    font-weight: 400;
    font-style: italic;
    margin: 70px 0; }

.item span {
    font-style: normal; }

.caption {
    width:100%;
    bottom: .0rem;
    position: absolute;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5); /* Black see-through */
    color: #f1f1f1;
    transition: .5s ease;
    opacity:0;
}

.thumbnail {
    border: 0 none;
    box-shadow: none;
    margin:0;
    padding:0;
}

.caption h4 {
    color: #fff;
    /*-webkit-font-smoothing: antialiased;*/
}

.thumbnail:hover .caption {
    opacity: 1;
}

.carousel-inner img {
    width: 100%;
    /* Set width to 100% */
    margin: auto; }

.carousel-caption h3 {
    color: #fff !important; }

@media (max-width: 600px) {
    .carousel-caption {
        display: block;
        /* Hide the carousel text when the screen is less than 600 pixels wide */ } }
.person {
    border-radius: 50%;
    margin-bottom: 25px;
    width: 270px;
    height: 270px;
    opacity: 0.9; }

.person:hover {
    border-color: #f1f1f1; }

.googleMap {
    width: 100%;
    height: 330px;
    float: left;
}

.carousel-control.right, .carousel-control.left {
    background-image: none; }

.carousel-indicators li {
    border-color: #22A7F0; }

.carousel-indicators li.active {
    background-color: #22A7F0; }

.item h4 {
    font-size: 19px;
    line-height: 1.375em;
    font-weight: 400;
    font-style: italic;
    margin: 70px 0; }

.item span {
    font-style: normal; }

/*REGISTER AND LOGIN PAGE */
.main {
    margin-top: 70px; }

hr {
    width: 100%;
    color: black;
}

span.subhead{
    font-size:50pt;
    color: #22A7F0;
}

span.subhead:before {
    content: "";
    width: 90px;
    height: 22px;
    border-top: 1px solid #22A7F0;
    display: inline-block;
    margin: 0 10px;
}

span.subhead:after {
    content: "";
    width: 90px;
    height: 22px;
    border-top: 1px solid #22A7F0;
    display: inline-block;
    margin: 0 10px;
}

.story-icon{
    margin-left: 100px;
}

.story-icon img{
    width:80px;
}

.location-icon{
    margin-bottom: 10px;
}

p.story{
    margin-top: 20px;
    margin-left: 10px;
    float: left;
}

.row-padding{
    padding-bottom:15px;
}

.gallery-row-padding{
    padding-bottom:25px;
}

img.gallery-kennel-images {
    width: 100%;
    height:382px;
}

/*
gallery images for kennels
 */
img.numbertext {
    vertical-align: middle;
}

/* Position the image container (needed to position the left and right arrows) */
.gallery-container {
    position: relative;
}

/* Hide the images by default */
.kennel-slides {
    display: none;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
    cursor: pointer;
}

/* Next & previous buttons */
.gallery-prev{
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 16px;
    /* margin-top: -50px;*/
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
    left: 15%;
}


.gallery-next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 16px;
   /* margin-top: -50px;*/
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
    right: 15%;
}

/* Position the "next button" to the right */
.gallery-next {
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.gallery-prev:hover,
.gallery-next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* Container for image text */
.gallery-caption-container {
    text-align: center;
    background-color: #222;
    padding: 2px 16px;
    color: white;
}

.gallery-row:after {
    content: "";
    display: table;
    clear: both;
}

/* Six columns side by side */
.gallery-column {
    float: left;
    width: 16.66%;
}

/* Add a transparency effect for thumnbail images */
.kennel-img {
    opacity: 0.6;
}

.active,
.kennel-img:hover {
    opacity: 1;
}

.white-text{
    color:white;
}

.form-group {
    margin-bottom: 15px; }

label {
    margin-bottom: 15px; }

input,
input::-webkit-input-placeholder {
    font-size: 11px;
    padding-top: 4px; }

.main-login {
    background-color: #f6f6f6;
    /* shadows and rounded borders */
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3); }

.main-center {
    margin-top: 30px;
    margin: 0 auto;
    max-width: 330px;
    padding: 40px 40px;
    position: relative;
}

.register{
    max-width: 550px;
}

.register button {
    background: #cfd8dc;
    border: 0;
    color: #22A7F0;
    padding: 10px;
    font-size: 16px;
    font-weight: 300;
    width: 450px;
    margin: 20px auto;
    display: block;
    cursor: pointer;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
    border-radius: 2px; }

.register button:active {
    background: #22A7F0;
    color: white; }

.register button:hover {
    background: #22A7F0;
    color: #FFF;
    -webkit-transition: all 0.4s;
    transition: all 0.4s; }


.main-center h6 {
    text-align: center;
    padding-bottom: 20px;
    margin-top: -30px; }

.login-register {
    font-size: 11px;
    text-align: center; }

.password-help {
    text-align: center; }

/*Social media for the footer*/
.footerbg {
    background-color: #22A7F0;
    clear: both;
    position: absolute;
    z-index: 2;
    width: 100vw;
    margin-top:50px;}


/*sticky footer: to do*/
.footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    background-color: #efefef;
    text-align: center;
}

a {
    text-decoration: none;
    color: #fff; }

p > a:hover {
    color: #d9d9d9;
    text-decoration: underline; }

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 1% 0 1% 0; }

._12 {
    font-size: 1.2em; }

._14 {
    font-size: 1.4em;
    text-align: center; }

.footer-contents ul{
    padding: 0;
    list-style: none;
}

.footer-contents {
    display: block;
    margin: 0 auto; }

.footer-content {
    color: #fff; }

ul.footer-contents-links {
    margin-top: 10px; }

.footer-contents-links li {
    vertical-align: top;
    display: inline;
    height: 100px; }

.footer-contents-links a {
    color: #fff;
    text-decoration: none; }

.footer-icon {
    padding: 10px 14px;
    -o-transition: .5s;
    -ms-transition: .5s;
    -moz-transition: .5s;
    -webkit-transition: .5s;
    transition: .5s;
    background-color: #322f30; }

.footer-icon:hover {
    background-color: #3d5b99; }

/*DASHBOARD*/
.profileicon {
    border-radius: 50% 50% 50% 50%;
    overflow: hidden; }

/**Table styling for edit user*/
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%; }

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px; }

tr:nth-child(even) {
    background-color: #dddddd; }

.parallax {
    /* The image used */
    background-image: url("../img/shelby.jpg");
    /* Set a specific height */
    height: 100%;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; }

.aboutParallax {
    /* The image used */
    background-image: url("../img/roloandmarley.jpg");
    /* Set a specific height */
    height: 100%;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: right;}

.faqParallax {
    /* The image used */
    background-image: url("../img/shitzu3.jpg");
    /* Set a specific height */
    height: 100%;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; }

.gallery_parallax_1 {
    /* The image used */
    background-image: url("../img/marleyingarden.jpg");
    /* Full height */
    height: 100%;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.aboutus_parallax_1 {
    /* The image used */
    background-image: url("../img/smalldogs.jpg");
    /* Full height */
    height: 100%;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.aboutus_parallax_2 {
    /* The image used */
    background-image: url("../img/maiseygreatdane2.jpg");
    /* Full height */
    height: 100%;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.meet-team-description {
    padding-top: 12px;
}

.home_parallax_1 {
    /* The image used */
    background-image: url("../img/kennels/receptionfront.jpg");
    /* Full height */
    height: 100%;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.home_parallax_2 {
    /* The image used */
    background-image: url("../img/doug.jpg");
    /* Full height */
    height: 100%;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.home_parallax_3 {
    /* The image used */
    background-image: url("../img/shelby2.jpg");
    /* Full height */
    height: 100%;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.aboutus_parallax_4 {
    /* The image used */
    background-image: url("../img/maisey2.jpg");
    /* Full height */
    height: 100%;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.aboutus_title{
    font-family:'LoughyDogs', sans-serif;
    color:white;
    font-size:7em;
    float:right;
    position:relative;
    top:500px;
    right:3%;
}

.galleryParallax {
    /* The image used */
    background-image: url("../img/loughyneagh.jpg");
    /* Set a specific height */
    height: 100%;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; }

.error {
    color: red;
    text-align: left; }

.contactus-container{
    top:80px;
    position: relative;
    margin-bottom: 100px;
}


/*
Gallery slideshow lightbox
 */

.row > .column {
    padding: 0 8px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.column {
    float: left;
    width: 25%;
}

img.hover-shadow {
    transition: 0.3s;
}

.hover-shadow:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/*
FAQS
 */

.accordion {
    background-color: #ccc;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}

.accordion:hover {
    background-color: #ccc;
}

.accordion:after {
    content: '\002B';
    color: #777;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

button.active:after {
    content: "\2212";
}

.panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    border: none;
    margin-bottom: 10px;
}

.row-faq {
    padding-left: 2px;
}

.answer ul{
    float: left;
}

.answer p{
    text-align: left;
}
.webLink a{
    color: #22A7F0;
}

.webLink a:hover {
    color: #22A7F0;
}

.indexImg img{
    position: relative;
    left: 51%;
    top: 58%;
    height: 50%;
    width: 50%;}



@media only screen and (max-width: 415px) {
    .aboutus_title {
        top: 450px;
        right: 6%;
    }

    .indexImg img {
        left: 30%;
        top: 80%;
        height: unset;
    }

}



@media only screen and (min-width:415px) and (max-width: 678px) {
    .aboutus_title {
        top: 450px;
        /*right: 6%;*/
    }
}
@media only screen and (max-width: 768px) {
    .aboutus_title {
        top: 450px;
        right: 6%;
    }

    .indexImg img{
        height: unset;
        left: 30%;
        top: 70%;
    }
}


@media screen and (min-width: 320px) {
    .story-icon {
        margin-left: unset;
    }
}

@media screen and (min-width: 375px) {
    .story-icon {
        margin-left: unset;
    }
}

@media only screen and (max-width: 1143px) {
    span.subhead:before {
        display: none;
    }

    span.subhead:after {
        display: none;
    }
}

@media only screen and (max-width: 768px){

    .navbar-collapse{
        margin-bottom: 0px;
    }

    .home-image img {
        left: 25%;
        top: 75%;
    }

}

/*# sourceMappingURL=style.css.map */

/* SERVICES PAGE */

.services_title{

    font-family:'LoughyDogs', sans-serif;
    color:white;
    font-size:7em;
    float:right;
    position:relative;
    top:300px;
    right:10%;

}

.service_circle {
    display: inline-block;
    border-radius: 60px;
    box-shadow: 0px 0px 2px #888;
    padding: 0.5em 0.6em;

}

.service_name{
    font-size:2em;
}
.serviceIcon:hover .icon {
    opacity: 0.3;
}

.serviceIcon:hover .middle {
    opacity: 1;
}

.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.icon {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}

.text {
    background-color: #22A7F0;
    color: white;
    font-size: 16px;
    padding: 16px 32px;
    position:relative;
    bottom:25px;
    -webkit-transition:1s ease-in-out;
}

.text:hover {
    background-color: #4BB8F2;
}

.services_parallax_1 {
    /* The image used */
    background-image: url("../img/marley/marley3.jpg");
    /* Full height */
    height: 100%;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.services_parallax_2 {
    /* The image used */
    background-image: url("../img/loughy-parallax-2.jpg");
    /* Full height */
    height: 100%;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.services_parallax_3 {
    /* The image used */
    background-image: url("../img/loughy-parallax.jpg");
    /* Full height */
    height: 100%;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.services_parallax_4 {
    /* The image used */
    background-image: url("../img/shelby_2.jpg");
    /* Full height */
    height: 100%;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.square-img{
    object-fit: cover;
    width:500px;
    height:500px;
}

.service-text{
    color:#777777;
    font-size:1.2em;
    margin-bottom:30px;
}


/*############################*/
/*#      CONTACT US PAGE      #*/
/*############################*/

.contact-body{

    padding-top:100px;

}

.contact-details{

    background-color:rgba(34, 167, 240, 0.7);
    position:relative;
    padding:30px;

}

.contact-questions{

    background-color:rgba(182, 182, 182, 0.7);
    padding:30px;

}

.contact-askquestion{

    background-color:rgba(119, 119, 119, 0.7);
    padding:30px;

}

.contact-heading{

    font-weight:800;
    font-size:2em;
    display:block;
    text-align:center;
    /*padding:5px;*/

}

.contact-heading.white{
    color:white;
}

.contact-heading.blue{
    color:#22A7F0;
}

.contact-detail {
    display:block;
    padding-top:10px;
    font-size:1.2em;
    text-align:left;
}

.contact-icon{
    padding-top:12px;
    display:block;
    text-align:right;
    font-size:1.5em;
}

.contact-intro {
    color:white;
    padding-left:50px;
    padding-right:50px;
    text-align:center;
}

.contact-input{

    width:97%;
}

.contact-label{
    color:white;
    font-weight:800;
    padding-top:10px;
}

.contact-submit{
    display:block;
    text-align:center;
}
