@import url("header.css");
@import url("footer.css");

@import url(https://fonts.googleapis.com/css?family=Lato);
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css);

@font-face {
    font-family: 'LoughyDogs'; /*a name to be used later*/
    src: url(../fonts/loughydogs.ttf); /*URL to font*/
}

/*######################################################################*/
/*       GLOBAL STYLES e.g. colours, default body padding etc           */
/*######################################################################*/

body, html {
    height: 100%;
    background-image: url("../img/sitebg.png");
    font-family: 'Lato', serif;
    padding:0px;
}

.nopadding {
    padding: 0 !important;
    margin: 0 !important;
}

.main-body{

    padding-top:100px;

}

.blue {
    color: #22A7F0; }

.grey {
    color:rgba(119, 119, 119, 1);
}

.white {
    color:white;
}

.hidden {
    display: none;
}

.jumbotron {
    background-color: #22A7F0;
    color: white;
    padding: 100px 25px; }

.container-fluid {
     padding: 60px 50px;
 }

.logo-small {
    color: #22A7F0;
    font-size: 50px; }

.logo {
    color: #22A7F0;
    font-size: 200px; }

.img-grid img{
    height:400px;
    width:300px;
}

.bg-grey {
    background-color: #f6f6f6; }

.bg-blue{
    background-color: #22A7F0;
}

.caption {
    width:100%;
    bottom: .0rem;
    position: absolute;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5); /* Black see-through */
    color: #f1f1f1;
    transition: .5s ease;
    opacity:0;
}

.thumbnail {
    border: 0 none;
    box-shadow: none;
    margin:0;
    padding:0;
}

.caption h4 {
    color: #fff;
    /*-webkit-font-smoothing: antialiased;*/
}

.thumbnail:hover .caption {
    opacity: 1;
}

.person {
    border-radius: 50%;
    margin-bottom: 25px;
    width: 270px;
    height: 270px;
    opacity: 0.9; }

.person:hover {
    border-color: #f1f1f1; }

.googleMap {
    width: 100%;
    height: 330px;
    float: left;
}

h1.subhead{
    font-size:50pt;
    color: #22A7F0;
}

h1.subhead:before {
    content: "";
    width: 90px;
    height: 22px;
    border-top: 1px solid #22A7F0;
    display: inline-block;
    margin: 0 10px;
}

h1.subhead:after {
    content: "";
    width: 90px;
    height: 22px;
    border-top: 1px solid #22A7F0;
    display: inline-block;
    margin: 0 10px;
}

.row-padding{
    padding-bottom:15px;
}

.error {
    color: red;
    text-align: left; }


.webLink a{
    color: #22A7F0;
}

.webLink a:hover{
    color: #22A7F0;
}

.contact-button{
    margin-left: 35%;
}

/*
    MEDIA QUERIES
 */

@media screen and (max-width: 768px) {
    .col-sm-4 {
        text-align: center;
        margin: 25px 0;
    }
}


@media only screen and (max-width: 768px) {
    .page_title {
        font-size: 4em;
    }

    h1.subhead {
        font-size: 30pt;
    }
}

@media only screen and (max-width: 993px) {
    .contact-button{
        margin-left: 0px;
    }
}



@media only screen and (max-width: 1143px) {
    h1.subhead:before,
    h1.subhead:after {
        display: none;
    }
}


