/*############################*/
/*#      CONTACT US PAGE      #*/
/*############################*/

.contact-body{
    padding-top:100px;
}

.contact-details{
    background-color:rgba(34, 167, 240, 0.7);
    position:relative;
    height:200px;
}

.contact-questions{
    background-color:rgba(182, 182, 182, 0.7);
    height:200px;
}

.contact-askquestion{
    background-color:rgba(119, 119, 119, 0.7);
}

.row-centered{
    width: 230px;
    margin: auto;
}

.contact-heading{
    font-weight:800;
    font-size:2em;
    display:block;
    text-align:center;
    margin: 0;
}

.contact-heading.white{
    color:white;
}

.row-centered{
    display: flex;
}

.contact-phone-number{
    padding-left: 5px;
}

.contact-heading.blue{
    color:#22A7F0;
}

.contact-detail {
    display:block;
    padding-top:5px;
    font-size:1.2em;
    text-align:left;
    white-space: nowrap;
}

.contact-icon{
    padding-top:12px;
    display:block;
    text-align:right;
    font-size:1.5em;
}

.contact-intro {
    color:white;
    padding-left:50px;
    padding-right:50px;
    text-align:center;
}

.contact-input{
    width:97%;
}

.contact-label{
    color:white;
    font-weight:800;
    padding-top:10px;
}

.contact-submit {
    display: block;
    text-align: center;
}

.contactus-container{
    top:80px;
    position: relative;
    margin-bottom: 100px;
}

.social-media-link a {
    color: white;
}

.social-media-link a:hover {
    color: #22A7F0;
}

.faqLink a{
    color: black;
}

.faqLink a:hover{
    color: #22A7F0;
}


