/*
FAQS
*/

.faqParallax {
    /* The image used */
    background-image: url("../img/parallex/shitzu3.jpg");
    /* Set a specific height */
    height: 100%;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position:relative;
}

.accordion {
    background-color: #ccc;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}

.accordion:hover {
    background-color: #ccc;
}

.accordion:after {
    content: '\002B';
    color: #777;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

button.active:after {
    content: "\2212";
}

.panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    border: none;
    margin-bottom: 10px;
}

.row-faq {
    padding-left: 2px;
}

.answer ul{
    float: left;
}

.answer p{
    text-align: left;
}

.page_title{
    font-family:'LoughyDogs', sans-serif;
    color:white;
    font-size:7em;
    float:right;
    position:absolute;
    display:inline-block;
    bottom:0;
    right:3%;
}

@media only screen and (max-width: 768px) {
    .faqParallax {
        background-attachment: scroll;
        background-size: 200% 100%;
    }

    .page_title{
        font-size:5em;
    }
}
