/*Social media for the footer*/
.footerbg {
    background-color: #22A7F0;
    clear: both;
    position: absolute;
    z-index: 2;
    width: 100vw;
}

.footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    background-color: #efefef;
    text-align: center;
}

.footer a {
    text-decoration: none;
    color: #fff; }

p > a:hover {
    color: #d9d9d9;
    text-decoration: underline; }

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 1% 0 1% 0; }

._12 {
    font-size: 1.2em; }

._14 {
    font-size: 1.4em;
    text-align: center; }

.footer-contents ul {
    padding: 0;
    list-style: none; }

.footer-contents ul{
    padding: 0;
    list-style: none;
}

.footer-contents {
    display: block;
    margin: 0 auto; }

.footer-content {
    color: #fff; }

ul.footer-contents-links {
    margin-top: 10px; }

.footer-contents-links li {
    vertical-align: top;
    display: inline;
    height: 100px; }

.footer-contents-links a {
    color: #fff;
    text-decoration: none; }

.footer-icon {
    padding: 10px 14px;
    -o-transition: .5s;
    -ms-transition: .5s;
    -moz-transition: .5s;
    -webkit-transition: .5s;
    transition: .5s;
    background-color: #322f30; }

.footer-icon:hover {
    background-color: #3d5b99; }


@media only screen and (max-width: 768px) {
    .footer-row-centered{
        width: 230px;
        margin: auto;
    }
}
