.container-fluid-gallery{
    padding-right: 50px;
    padding-bottom: 60px;
    padding-left: 50px;
}

.galleryParallax {
    /* The image used */
    background-image: url("../img/loughyneagh.jpg");
    /* Set a specific height */
    height: 100%;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.gallery_parallax_1 {
    /* The image used */
    background-image: url("../img/parallex/marleyingarden.jpg");
    /* Full height */
    height: 100%;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.gallery_parallax_2 {
    /* The image used */
    background-image: url("../img/parallex/Jet-01.jpg");
    /* Full height */
    height: 100%;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.gallery-row-padding{
    padding-bottom:25px;
}

.gallery-kennel-images img{
    width: 80%;
    height:382px;
}


/* Position the image container (needed to position the left and right arrows) */
.gallery-container {
    position: relative;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
    cursor: pointer;
}

/* Container for image text */
.gallery-caption-container {
    text-align: center;
    background-color: #222;
    padding: 2px 16px;
    color: white;
}

.gallery-row:after {
    content: "";
    display: table;
    clear: both;
}

/* Six columns side by side */
.gallery-column {
    float: left;
    width: 16.66%;
}

/* Add a transparency effect for thumnbail images */
.kennel-img {
    opacity: 0.6;
}

.active,
.kennel-img:hover {
    opacity: 1;
}

/*
Gallery slideshow lightbox
 */

.row > .column {
    padding: 0 8px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.column {
    float: left;
    width: 25%;
}

.kennel img {
    display: block;
    max-width: 100%;
    height: auto;

    margin-right: auto;
    margin-left: auto;
}

img.hover-shadow {
    transition: 0.3s;
}

.hover-shadow:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.page_title{
    font-family:'LoughyDogs', sans-serif;
    color:white;
    font-size:7em;
    float:right;
    position:absolute;
    display:inline-block;
    bottom:0;
    right:3%;
}

.kennel-img-col-padding{
    padding-bottom: 15px;
}

@media only screen and (max-width: 768px) {

    .portrait-img img{
        width: 70%;
    }

    .modal-content {
        top: 80px;
        margin-right: 12px;
    }

    .galleryParallax {
        background-attachment: scroll;
        background-size: 200% 100%;
    }

    .gallery_parallax_1 {
        background-attachment: scroll;
        background-size: 150% 100%;
    }

    .gallery_parallax_2{
        background-attachment: scroll;
        background-size: 250% 100%;
    }

    .page_title{
        font-size:5em;
    }
}