.navbar {
    margin-bottom: 0;
    background-color: #FFFFFF;
    z-index: 9999;
    border: 0;
    font-size: 12px !important;
    letter-spacing: 4px;
    border-radius: 0;
    /*position:relative;*/
}

.navbar-nav li {
    height: 100%; }
.navbar li a, .navbar .navbar-brand {
    color: #22A7F0 !important;
    line-height: 3 !important;
    /*background-color: #22A7F0 !important;*/ }

.navbar-nav li a:hover, .navbar-nav li.active a {
    color: #FFFFFF !important;
    transition: background-color 0.5s ease-in-out;
    background-color: #22A7F0 !important;
    height: 70px; }

.navbar-default .navbar-toggle {
    border-color: transparent;
    color: #fff !important; }


#logoImg {
    padding: 0px;
    width: 140px;
    height: 70px;
}

.myNavbar{
    max-height: unset;
    overflow-y: unset;
}

.menu-title-mobile{
    display: none;
}


@media only screen and (max-width: 767px) {
    .menu-title-mobile {
        display: block;
        position: relative;
        float: right;
        color: #22A7F0;
        margin: 0;
        top: 25px;
        right: 60px;
    }
}