.parallax {
    /* The image used */
    background-image: url("../img/parallex/shelby.jpg");
    /* Set a specific height */
    height: 100%;
    width: 100%;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; }

.home_parallax_1 {
    /* The image used */
    background-image: url("../img/kennels/receptionfront.jpg");
    /* Full height */
    height: 100%;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.home_parallax_2 {
    /* The image used */
    background-image: url("../img/parallex/doug.jpg");
    /* Full height */
    height: 100%;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.home_parallax_3 {
    /* The image used */
    background-image: url("../img/parallex/shelby2.jpg");
    /* Full height */
    height: 100%;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.home_parallax_4 {
    /* The image used */
    background-image: url("../img/attika.jpg");
    /* Full height */
    height: 100%;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.indexImg img{
    position: relative;
    left: 51%;
    top: 58%;
    height: 50%;
    width: 50%;}

.carousel-control.right, .carousel-control.left {
    background-image: none;
    color: #22A7F0;}

.carousel-indicators li {
    border-color: #22A7F0; }

.carousel-indicators li.active {
    background-color: #22A7F0; }

.item h4 {
    font-size: 19px;
    line-height: 1.375em;
    font-weight: 400;
    font-style: italic;
    margin: 70px 0; }

.item span {
    font-style: normal; }

.overview-section{
    max-width: 50%;
    margin: auto;
}

.overview-img{
    object-fit: cover;
    width:500px;
    height:500px;
}


/*
    MEDIA QUERIES
 */

@media only screen and (max-width: 415px) {
    .indexImg img {
        left: 30%;
        top: 80%;
        height: unset;
    }
}


@media only screen and (max-width: 768px) {
    .indexImg img{
        margin: auto;
        position:absolute;
        top:unset;
        bottom:0;
        left: 18%;
        height:35%;
        width:70%;
    }

    .parallax {
        background-attachment: scroll;
        /*background-size: 200% 100%;*/
        background-position: 35%}

    .home_parallax_1 {
        background-attachment: scroll;
        background-size: 150% 100%;
    }


    .home_parallax_2 {
        background-attachment: scroll;
        background-size: 150% 100%;
    }

    .home_parallax_3 {
        background-attachment: scroll;
        background-size: 150% 100%;
    }

    .home_parallax_4 {
        background-attachment: scroll;
        background-size: 150% 100%;
    }

    .overview-img {
        display:none;
    }
}

