/* BOX LOGIN */
.box {
  position: relative;
  margin: auto;
  height: 410px;
  top: 40px;
  left: 0;
  z-index: 200;
  right: 0;
  width: 400px;
  color: #757D75;
  border-radius: 3px;
  background: #FFF;
  margin-bottom: 100px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  overflow: hidden; }

#header {
  background: #22A7F0;
  position: relative;
  width: 100%;
  margin-bottom: 30px; }

#cont-lock {
  width: 100%;
  height: 65px;
  position: relative; }

.lock {
  text-align: center;
  color: white;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0;
  top: 0;
  bottom: 0;
  line-height: 65px;
  font-size: 20px; }

#bottom-head {
  position: relative;
  background: #22A7F0;
  height: 35px; }

#bottom-head::after {
  content: '';
  width: 0px;
  height: 0px;
  display: block;
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  bottom: 0;
  border-bottom: 7px solid white;
  border-right: 7px solid rgba(0, 0, 0, 0);
  border-left: 7px solid rgba(0, 0, 0, 0);
  border-top: 7px solid rgba(0, 0, 0, 0); }

.box h1 {
  margin-left: 20px;
  margin-top: 0;
  font-size: 24px;
  font-weight: 300;
  color: #cfd8dc;
  line-height: 35px; }

.box button {
  background: #cfd8dc;
  border: 0;
  color: #22A7F0;
  padding: 10px;
  font-size: 16px;
  font-weight: 300;
  width: 330px;
  margin: 20px auto;
  display: block;
  cursor: pointer;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  border-radius: 2px; }

.box button:active {
  background: #22A7F0;
  color: white; }

.box button:hover {
  background: #22A7F0;
  color: #FFF;
  -webkit-transition: all 0.4s;
  transition: all 0.4s; }

.box p {
  font-size: 14px;
  text-align: center; }

.group {
  position: relative;
  margin-bottom: 35px;
  margin-left: 40px; }

.inputMaterial {
  font-size: 18px;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 315px;
  border: none;
  border-bottom: 1px solid #757575; }

.inputMaterial:focus {
  outline: none; }

/* LABEL ======================================= */
label {
  color: #999;
  font-size: 14px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 10px;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all; }

/* active state */
.inputMaterial:focus ~ label {
  top: -20px;
  font-size: 14px;
  color: #22A7F0; }

.inputHasContent {
  top: -20px;
  font-size: 14px;
  color: #22A7F0; }

/* BOTTOM BARS ================================= */
.bar {
  position: relative;
  display: block;
  width: 315px; }

.bar:before, .bar:after {
  content: '';
  height: 2px;
  width: 0;
  bottom: 1px;
  position: absolute;
  background: #22A7F0;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all; }

.bar:before {
  left: 50%; }

.bar:after {
  right: 50%; }

.barError ~ .bar:before, .barError ~ .bar:after{
  content: '';
  height: 2px;
  width: 50%;
  bottom: 1px;
  position: absolute;
  background: red;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all; }

.barError:before {
  left: 50%; }

.barError:after {
  right: 50%; }

/* active state */
.inputMaterial:focus ~ .bar:before, .inputMaterial:focus ~ .bar:after {
  width: 50%; }

/* active state */
.inputMaterial:focus ~ .highlight {
  -webkit-animation: inputHighlighter 0.3s ease;
  -moz-animation: inputHighlighter 0.3s ease;
  animation: inputHighlighter 0.3s ease; }

/* ANIMATIONS ================ */
@-webkit-keyframes inputHighlighter {
  from {
    background: #22A7F0; }
  to {
    width: 0;
    background: transparent; } }
@-moz-keyframes inputHighlighter {
  from {
    background: #22A7F0; }
  to {
    width: 0;
    background: transparent; } }
@keyframes inputHighlighter {
  from {
    background: #22A7F0; }
  to {
    width: 0;
    background: transparent; } }
#footer-box {
  width: 100%;
  height: 50px;
  background: #22A7F0;
  position: absolute;
  bottom: 0; }

.footer-text {
  color: #cfd8dc; }

.sign-up {
  color: white;
  cursor: pointer; }

.sign-up:hover {
  color: #b2dfdb; }







.main-login {
  background-color: #f6f6f6;
  /* shadows and rounded borders */
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3); }

.main-center {
  margin-top: 30px;
  margin: 0 auto;
  max-width: 330px;
  padding: 40px 40px;
  position: relative;
}

.register{
  max-width: 550px;
}

.register button {
  background: #cfd8dc;
  border: 0;
  color: #22A7F0;
  padding: 10px;
  font-size: 16px;
  font-weight: 300;
  width: 450px;
  margin: 20px auto;
  display: block;
  cursor: pointer;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  border-radius: 2px; }

.register button:active {
  background: #22A7F0;
  color: white; }

.register button:hover {
  background: #22A7F0;
  color: #FFF;
  -webkit-transition: all 0.4s;
  transition: all 0.4s; }


.main-center h6 {
  text-align: center;
  padding-bottom: 20px;
  margin-top: -30px; }

.login-register {
  font-size: 11px;
  text-align: center; }

.password-help {
  text-align: center; }

.form-group {
  margin-bottom: 15px; }

label {
  margin-bottom: 15px; }

input,
input::-webkit-input-placeholder {
  font-size: 11px;
  padding-top: 4px; }


/*REGISTER AND LOGIN PAGE */
.main {
  margin-top: 70px; }

hr {
  width: 100%;
  color: black;
}

.bluefont {
  color: #22A7F0; }


/*
user css
 */

/*DASHBOARD*/
.profileicon {
  border-radius: 50% 50% 50% 50%;
  overflow: hidden; }

/**Table styling for edit user*/
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%; }

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px; }

tr:nth-child(even) {
  background-color: #dddddd; }

/*# sourceMappingURL=login.css.map */
