.services_title{

    font-family:'LoughyDogs', sans-serif;
    color:white;
    font-size:7em;
    float:right;
    position:relative;
    top:300px;
    right:10%;

}

.service_circle {
    display: inline-block;
    border-radius: 60px;
    box-shadow: 0px 0px 2px #888;
    padding: 0.5em 0.6em;

}

.service_name{
    font-size:2em;
}
.serviceIcon:hover .icon {
    opacity: 0.3;
}

.serviceIcon:hover .middle {
    opacity: 1;
}

.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.icon {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}

.text {
    background-color: #22A7F0;
    color: white;
    font-size: 16px;
    padding: 16px 32px;
    position:relative;
    bottom:25px;
    -webkit-transition:1s ease-in-out;
}

.text:hover {
    background-color: #4BB8F2;
}

.servicesParallax{
    /* The image used */
    background-image: url("../img/parallex/Bailey-01.jpg");
    /* Full height */
    height: 100%;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.services_parallax_1 {
    /* The image used */
    background-image: url("../img/marley/marley3.jpg");
    /* Full height */
    height: 100%;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.services_parallax_2 {
    /* The image used */
    background-image: url("../img/loughy-parallax-2.jpg");
    /* Full height */
    height: 100%;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.services_parallax_3 {
    /* The image used */
    background-image: url("../img/loughy-parallax.jpg");
    /* Full height */
    height: 100%;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.services_parallax_4 {
    /* The image used */
    background-image: url("../img/parallex/shelby_2.jpg");
    /* Full height */
    height: 100%;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.square-img{
    object-fit: cover;
    width:500px;
    height:500px;
}

.service-text{
    color:#777777;
    font-size:1.2em;
    margin-bottom:30px;
}

.page_title{
    font-family:'LoughyDogs', sans-serif;
    color:white;
    font-size:7em;
    float:right;
    position:absolute;
    display:inline-block;
    bottom:0;
    right:3%;
}

@media only screen and (max-width: 768px) {

    .square-img {
        display:none;
    }

    .btn-loughy{
        position:relative;
        left:23%;
    }

    .servicesParallax {
        background-attachment: scroll;
        background-size: 250% 100%;
    }

    .services_parallax_1 {
        background-attachment: scroll;
        background-size: 120% 100%;
    }

    .services_parallax_2 {
        background-attachment: scroll;
        background-size: 200% 100%;
    }

    .services_parallax_3 {
        background-attachment: scroll;
        background-size: 200% 100%;
    }

    .services_parallax_4 {
        background-attachment: scroll;
        background-size: 200% 100%;
        background-position: 80%;
    }

    .page_title{
        font-size:5em;
    }

}

@media only screen and (min-width: 769px) and (max-width: 1090px){
    .square-img {
        margin-left: 20%;
        padding-top: 20px;
    }

    .contact-button{
        margin-left: 40%;
    }
}